# macOS hidden files
.DS_Store
._*

# Environment variables
.env

# Engine API JWT secrets
**/jwt.hex
**/jwt.txt

# Data directories and logs
.sonic/
logs/
*.log

# Planned chain configs (uncommitted for now)
0g/
ftm/
hyperliquid/
mantle/
mode/
ronin/
sonic/

# Hyperliquid
override_gossip_config.json

# Docker specific
target/
target-native/
.dockerignore
