# macOS hidden files
.DS_Store
._*

# Environment variables
.env

# Engine API JWT secrets
**/jwt.hex
**/jwt.txt
**/op-node-priv-key.txt

# ZK Stack external node generated secrets
**/consensus_secrets.yaml

# Data directories and logs
logs/
*.log

# Planned chain configs (uncommitted for now)
0g/
hyperliquid/
mantle/
henesys/
megaeth/

# Hyperliquid
override_gossip_config.json

# Docker specific
target/
target-native/
.dockerignore
