# Abstract testnet external node
# cp env.testnet.template .env && ./configure.sh && docker compose up -d

NETWORK=testnet
EN_VERSION=v29.20.0-alpha
EN_MAIN_NODE_URL=https://api.testnet.abs.xyz
EN_L1_CHAIN_ID=11155111
EN_L2_CHAIN_ID=11124
EN_SNAPSHOTS_OBJECT_STORE_BUCKET_BASE_URL=abstract-testnet-external-node-snapshots

# Required — use your own Sepolia JSON-RPC
EN_ETH_CLIENT_URL=<YOUR_SEPOLIA_RPC>

DB_PASSWORD=notsecurepassword

EN_HTTP_PORT=3060
EN_WS_PORT=3061
EN_HEALTHCHECK_PORT=3081
EN_PROMETHEUS_PORT=3322

EN_SNAPSHOTS_RECOVERY_ENABLED=true
EN_PRUNING_ENABLED=true
